.footer320 {
    display: none;
    padding: 15px 15px 0 15px;
    height: 90px;
    background-color: #0f303f;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__policy {
        font-size: 12px;
        text-decoration: none;
        color: #2c5871;
        text-transform: none;
        &:hover {
            color: #2c5871;
            text-decoration: underline;
        }
    }
    &__line {
        height: 12px;
        width: 4px;
        border-left: 2px solid #2c5871;
    }
    &__specification {
        font-size: 12px;
        color: #2c5871;
        text-decoration: none;
        text-transform: none;
        &:hover {
            color: #2c5871;
            text-decoration: underline;
        }
    }
}
